.basketContainer {
  background: #181a1d;
  margin-bottom: 30px;
  padding: 20px;
  color: #fff;

  display: flex;
  flex-direction: column;
  gap: 10px;
}

.basketTitle {
  margin-block: 10px;
}

.noItemText {
  text-align: center;
  margin-block: 10px;
  font-weight: 600;
}